{% extends 'base.html' %}


{% block header%}

    <h1> {% block title %} About {%endblock%} </h1> 

{% endblock %}

{% block action %}

<a href="{{url_for('mail.index')}}" class="button">Volver</a>


{% endblock %}

{% block content %}

<p>   
    Mail<b>er</b> es un proyecto acad&eacutemico que tiene como objetivo el envio, visualizaci&oacuten y busqueda de correos electronicos. <br><br>
    Tecnolog&iacuteas aplicadas: Python, MySQL y Flask. 
</p>

<p>
    Por otro lado, para el desarrollo de este proyecto se aplicaron los siguientes conceptos: <br>

    <ul id="ali">
        <li> Entornos virtuales </li>
        <li> HTML - CSS </li>
        <li> Sendgrid: Gestor de correos electronicos</li>
        <li> SQL </li>
        <li> Heroku: Servidor Web</li>
    </ul>
</p>


{% endblock %}